# Any Khata - Environment Variables
# Copy this file to .env and fill in your actual values

EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_project_id

EXPO_PUBLIC_APPWRITE_DB_ID=any_khata_db

# Collection IDs
EXPO_PUBLIC_COL_USERS=users
EXPO_PUBLIC_COL_BUSINESSES=businesses
EXPO_PUBLIC_COL_CUSTOMERS=customers
EXPO_PUBLIC_COL_DAY_LOGS=day_logs
EXPO_PUBLIC_COL_PAYMENTS=payments
EXPO_PUBLIC_COL_ADS=ads
EXPO_PUBLIC_COL_SUBSCRIPTIONS=subscriptions
EXPO_PUBLIC_COL_PAYMENT_ORDERS=payments

# Appwrite Storage
EXPO_PUBLIC_APPWRITE_AD_BUCKET_ID=ad_images

# Cloudinary
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_upload_preset

EXPO_NO_DOCTOR=1
EXPO_NO_DEPENDENCY_VALIDATION=1
